@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --primary: 122 100% 39%;
    --primary-foreground: 0 0% 100%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 100% 30%;
    --destructive-foreground: 271 5% 90%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 122 100% 39%;

    --radius: 0.5rem;

    --chart-1: 0 72.2% 50.6%;
    --chart-2: 142.1 76.2% 36.3%;
    --chart-3: 24.6 95% 53.1%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 15 11% 7%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 271 50% 5%;
    --popover-foreground: 271 5% 90%;

    --primary: 122 100% 39%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 271 30% 10%;
    --secondary-foreground: 0 0% 100%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 233 30% 15%;
    --accent-foreground: 271 5% 90%;

    --destructive: 0 100% 30%;
    --destructive-foreground: 271 5% 90%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 122 100% 39%;

    --radius: 0.5rem;

    --chart-1: 0 72.2% 50.6%;
    --chart-2: 142.1 76.2% 36.3%;
    --chart-3: 262.1 83.3% 57.8%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
